.profile__edit-button {
  background-image: url("../../../images/edit-button.svg");
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: #000;
  align-self: center;
  transition: 0s opacity;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media all and (min-width: 768px) {
  .profile__edit-button {
    margin-left: 18px;
  }
}

@media all and (min-width: 1024px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
  }
}