.popup__line {
  background-image: url("../../../images/Line 2.svg");
  color: #000;
  opacity: 0.8;
  height: 1px;
  width: 238px;
  position: relative;
  bottom: 30px;
}

@media all and (min-width: 768px) {
  .popup__line {
    width: 358px;
  }
}