.header__logo {
  background-image: url("../../../images/logo.svg");
  min-width: 104px;
  min-height: 25px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 27px;
}

@media all and (min-width: 768px) {
  .header__logo {
    min-width: 120px;
    min-height: 29px;
  }
}

@media all and (min-width: 1024px) {
  .header__logo {
    min-width: 142px;
    min-height: 33px;
    margin-left: 0;
  }
}