.footer__author {
  color: #545454;
  margin-left: 6%;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 282px;
}

@media all and (min-width: 1024px) {
  .footer__author {
    margin-left: 7%;
  }
}

@media all and (min-width: 1280px) {
  .footer__author {
    margin-left: 16%;
  }
}