.popup__close {
  background-image: url("../../../images/close-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transform: rotate(45deg);
  color: #fff;
  position: absolute;
  z-index: 2;
  transition: 0s opacity;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}