.profile__info {
  color: #fff;
  text-align: center;
  margin-bottom: 36px;
  margin-top: 14px;
  max-width: 220px;
}

@media all and (min-width: 768px) {
  .profile__info {
    position: relative;
    right: 305px;
    top: 53px;
  }
}

@media all and (min-width: 1024px) {
  .profile__info {
    margin-top: 16px;
    top: 68px;
  }
}